#
# 为什么这样写无效？ ##
#TrafficSimulation/
#!TrafficSimulation/TrafficSimulation/*.h
#!TrafficSimulation/TrafficSimulation/*.cpp
#!TrafficSimulation/TrafficSimulation/*.ui
#####

# 只有采取下策了...
TrafficSimulation/*.*
TrafficSimulation/x64/
TrafficSimulation/Win32/
TrafficSimulation/TrafficSimulation/Debug/
TrafficSimulation/TrafficSimulation/GeneratedFiles/
TrafficSimulation/TrafficSimulation/Resources/
TrafficSimulation/TrafficSimulation/x64/
TrafficSimulation/TrafficSimulation/*.vcxproj
TrafficSimulation/TrafficSimulation/*.vcxproj.filters
TrafficSimulation/TrafficSimulation/*.vcxproj.user
TrafficSimulation/TrafficSimulation/*.qrc
TrafficSimulation/TrafficSimulation/*.db


